.btn {
    background-color: black;
    border: 1px solid white;
    /*padding: 9px 26px;*/
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    text-align: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
