@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.form {
    border: 1px solid #fff;
    border-radius: 15px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    padding: 29px 50px 52px 50px;
}

.title {
    font-size: 24px;
    line-height: 140%;
    color: #fff;
}

.groupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.label {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    align-self: flex-start;
}

.input {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 16px 19px;
    width: 500px;
    height: 50px;
    background-color: #000;

    font-size: 14px;
    color: #a0aec0;
    letter-spacing: .4px;
}

.error {
    color: #ff0000;
    margin-top: 5px;
}

.submitButton {
    border: none;
    border-radius: 11px;
    width: 500px;
    height: 56px;
    background-color: #DB00FF;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    text-transform: uppercase;
}
