.li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
    height: 100px;
    border: 1px solid red;
    padding: 20px;
    justify-content: space-between;
}

.info,
.btns {
    display: flex;
    gap: 20px;
}